.red{
    color:red
}
.green{
    color:green
}
.blue{
    color:blue
}
.blueviolent{
    color:blueviolet
}

.pink{
    color:pink
}
.gray{
    color:gray
}
.white{
    color:white
}
.black{
    color:black
}